body{

    /*background-color: slategray;*/

    background-image: url("https://i.imgur.com/zDMosZm.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: slategray;
    text-align: center;

}

/*paragraph*/
p{
    color: white;
    font-size: 1.2em;
    margin: 20px;
}

/*image*/
img {
    margin: 60px 0 30px 0;
    width: 250px;
}

/*input*/
input{
    width: 300px;
    height: 50px;
    margin: 20px;
    border: none;
    border-radius: 10px;
    font: Shanti;
    text-align: center;
    font-size: 1.3em;
}

input:focus{
    border: solid 5px #00FFCE;
    outline: none;
}

/*boutton*/
/*#boutton key*/
#trans {
    background-color: palevioletred;
    color: white;
    width: 200px;
}

/*rendre le boutton interactif*/
#trans:hover {
    box-shadow: 2px 5px 5px 0 rebeccapurple;
    background-color: mediumvioletred;
    cursor: pointer;
}