body{

    background-color: slategray;

    text-align: center;

}

/*paragraph*/
p{
    color: white;
    font: Shanti;
    font-size: 1.2em;
    margin: 20px;
}

/*image*/
img {
    margin: 60px 0 30px 0;
    width: 250px;
}

/*input*/
input{
    width: 300px;
    height: 50px;
    margin: 20px;
    border: none;
    border-radius: 10px;
    font: Shanti;
    text-align: center;
    font-size: 1.3em;
}

input: focus{
    border: solid 5px #00FFCE;
    outline: none;
}

/*boutton*/
/*#boutton key*/
#trans {
    background-color: palevioletred;
    color: white;
    width: 200px;
}

/*rendre le boutton interactif*/
#trans:hover {
    background-color: mediumvioletred;
    cursor: pointer;
}
